p{
  font-family: 'Roboto', serif;
}

body{

}

iframe {
    display: block;
    margin: 0 auto;
}

object {
    display: block;
    margin: 0 auto;
}

h1{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 70px;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 30px;
}

h1 {
  text-align: center;
}

#STREAM {
  color: black;
  background-color: #EEAC00;
}

#JOIN {
  color: black;
  background-color: #EEAC00;
}

#WEEKLYSCHEDULE {
  color: black;
  background-color: #EEAC00;
}

li{
  display: inline;
}

#nav li {
  list-style-type: none;
  text-align: left;
  margin: 3%;
  padding: 0;
  width: 0;
}

#container{
  margin: 5%;
  display: block;
  margin: 0 auto;
}

#center2 {
    width: 100%;
}

#social_icons {
    margin: 10px auto;
    width: 400px;
    height: 50px;
    text-align: center;
}

#social_icons ul {
    margin: 10px auto;
    list-style: none;
    text-align: center;
}

#social_icons ul li {
    float: left;
    padding-right: 10px;
}

#logo {
  display: block;
  margin: 0 auto;
}

#footer {
  color: black;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}
