
body{
}

h1{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  width:100%;
  font-weight: normal;
  font-size: 30px
}

.video {
  position: relative;
  height: 0;
  overflow: hidden;
}
/* 16x9 Aspect Ratio */
.video {
  padding-bottom: 56.25%;
}
.video iframe {
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

h2{
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
    box-shadow: 10px 10px 5px #888888;
}

p{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

#JOIN{
  background-color: #EEAC00;
}

#STREAM{
  background-color: #EEAC00;
}

#SHOWSCHEDULE{
  background-color: #EEAC00;
}


li{
  display: inline;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

#nav li {
  list-style-type: none;
  text-align: left;
  margin: 5%;
  padding: 0;
  width: 0;
}


body{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

p{
  font-family: 'Open Sans', sans-serif;
  text-align:left;
}

iframe {
    display: block;
    margin: 0 auto;
    padding-top: 75px;
    padding-bottom: 75px;
}

object {
    display: block;
    margin: 0 auto;
}

h1{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 70px;
}

h2{
  text-align: left;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

h3 {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: 30px;
}

h1 {
  text-align: center;
}

#STREAM {
  color: black;
  background-color: #EEAC00;
}

#JOIN {
  color: black;
  background-color: #EEAC00;
}

#WEEKLYSCHEDULE {
  color: black;
  background-color: #EEAC00;
}

li{
  display: inline;
}

nav li {
  list-style-type: none;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  text-align: center;
  line-height: 250%;
  margin: 3%;
}

nav a:link, a:visited {
  color:black;
}

.menu-trigger{
  display:none;
}



#social_icons {
    margin: 10px auto;
    width: 400px;
    height: 50px;
    text-align: center;
}

#social_icons li {
    margin-right: 20px;
}

#logo {
  display: block;
  margin: 0 auto;
}

#footer {
  color: black;
  text-align: center;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.8em;
  border-top: 1px solid black;
}

.table{
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1em;
}

h4 {
font-family: 'Rubik', sans-serif;
font-weight: normal;
text-decoration: none;
font-size: 20px;
text-decoration: none;
}

span {
    font-size:35px;
    font-weight:bold;
    text-decoration: none;
    color: #EEAC00;
    }

.underline {
  text-decoration: none;
}


@media (max-width:500px){

.menu-trigger{
  display: block;
  text-align: right;
}

.navigation{
  display:none;
}

.navigation li {
      display: flex;
      flex-flow: column;
      text-decoration: none;
      font-size: 10px;
      text-align: right;
}

  .mutvlogo{
    width: 200%;
    height: 200%;
  }

#social_icons {
  text-align: left;;
  margin-left: 25%;
}

}
