body{
}

h1 {
  text-align: center;
}

#STREAM {
  color: black;
  background-color: #EEAC00;
}

#JOIN {
  color: black;
  background-color: #EEAC00;
}

#WEEKLYSCHEDULE {
  color: black;
  background-color: #EEAC00;
}

li{
  display: inline;
}

#nav li {
  list-style-type: none;
  text-align: left;
  margin: 5%;
  padding: 0;
  width: 0;
}

#container{
    margin: 10px  auto  10px  auto;
    width: 90%;
    text-align: left;
}

#nav1 li {
  list-style-type: none;
  margin: 5%;
  padding: 0;
  width: 0;
}

#footer {
  color: black;
    font-family: 'Slabo 27px', serif;
    font-size: 0.8em;
    border-top: 1px solid black;

}
