body{
  text-align:center;
  background-color:white;
  padding:10px;
}

.wrapper{
  width:100%;
}

.navigation{
  list-style:none;
  padding-bottom:55px;
  display:flex;
  flex-direction:row;
}

.navigation img{
  display:block;
  padding:10px;
  text-align:center;
  width: 90%;
}

@media all and (min-width:600){
  .navigation{
    flex-direction:row;
    justify-content:space-around;
  }
}

h1{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  width:100%;
  font-weight: normal;
}

h2{
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

p{
  font-family: 'Open Sans', sans-serif;
  text-align: left;
}

.aboutheader {
  color: black;
  background-color: #EEAC00;
  text-align: left;
  width:100%;
}

.aboutparagraph{
  font-family: 'Open Sans', sans-serif;
  text-align:left;
  font-size: 1.1em;
}

.collabheader {
  color: black;
  background-color: #EEAC00;
  text-align: left;
}

.collabworks{
    display: flex;
    flex-flow:row wrap;
    width: 100%;
    padding:10px;
    font-family: 'Open Sans', sans-serif;
    text-align:left;
    font-size: 1.1em;
}

.collabworks, .aside {
    flex:3 100%;
}

.aside img{
  border-style:none;
  width:90%;
  margin:10px;
}

.awardsheader{
  color: black;
  background-color: #9A9A9A;
  text-align: left;
}

@media all and (min-width:600px){
  .aboutparagraph{
    max-width: 1000px;
  }

  .collabworks{
    flex-flow:row;
  }

  h1{
    font-size: 50px;
  }

}

footer {
    color: black;
    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 0.8em;
    border-top: 1px solid black;
}
