h1{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
}

body{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

#container{
    width: 100%;
    background-color: #ffffff;
    margin: 0 auto;
  }

#nav{
  padding: 0;
}

li{
  display: inline;
}

#nav li{
  list-style-type: none;
  margin: auto;
  padding: 0;
  padding-bottom: 50px;
  width: 30%;
}

#about {
  color: black;
  background-color: #EEAC00;
  text-align: left;
}

#collab {
  color: black;
  background-color: #EEAC00;
  text-align: left;
}

.column1of3, .column2of3, .column3of3 {
  width: 300px;
  float: left;
  margin: 10px;
}
