h1{
  text-align: center;
  font-family: 'Rubik', sans-serif;
  font-weight: normal;
  font-size: 75%;
}

body{
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
}

#nav li {
  list-style-type: none;
  float:left;
  margin: 0;
  padding: 0;
  width: 25%;
  text-decoration: underline;
  text-align: center;
  display: block;
}

#about {
  color: black;
  background-color: #EEAC00;
  text-align: left;
}

#collab {
  color: black;
  background-color: #EEAC00;
  text-align: left;
}

.column1of3, .column2of3, .column3of3 {
  width: 300px;
  float: left;
  margin: 10px;
}
